[submodule "packages/fanuc-control"]
	path = packages/fanuc-control
	url = https://github.com/usernamegemaoa/robot-control.git
[submodule "packages/p-net"]
	path = packages/p-net
	url = https://github.com/rtlabs-com/p-net.git
[submodule "packages/SOEM"]
	path = packages/SOEM
	url = https://github.com/OpenEtherCATsociety/SOEM.git
[submodule "packages/libmodbus"]
	path = packages/libmodbus
	url = https://github.com/stephane/libmodbus.git	
[submodule "packages/iperf"]
	path = packages/iperf
	url = https://github.com/esnet/iperf.git
[submodule "packages/MQTT-C"]
	path = packages/MQTT-C
	url = https://github.com/LiamBindle/MQTT-C.git
